<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveTask(taskForm)" #taskForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
        <input matInput type="text" name="title" [ngModel]="task?.title" required placeholder="Titulo de tarea" #title="ngModel">
        <mat-error *ngIf="title.invalid">Por favor ingrese titulo de tarea</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="4" name="content" [ngModel]="task?.content" required placeholder="Contenido" #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Por favor ingrese descripcion de tarea</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Agregar tarea</button>
  </form>
</mat-card>



