:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

h3 {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.containerDur {
  margin-left: 40%;
}

span.a {
  display: inline;
  white-space: nowrap;
  text-align: left;
  font-size: 45px;
  margin: auto;
}

.inputA {
  width: 4.5rem;
  text-align: left;
}

.inputB {
  width: 6.5rem;
  text-align: center;
}
