:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

h3 {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.containerDur {
  margin-left: 20%;
}

.inputA {
  width: 20rem;
  font-size: 50px;
  text-align: center;
}

