<h3 mat-dialog-title>{{ task.title }}</h3>
<div mat-dialog-content>
  <p class="mat-body-1">Descripción: {{ task.content }}</p>
  <mat-divider></mat-divider>
  <p class="mat-body-1">Duración =>
    <span [hidden]="isCounting">{{ task.duration.min }}:{{ task.duration.sec }}</span>
  </p>
  <div class="containerDur" [hidden]="!isCounting">
    <input class="inputA" matInput type="text" id="dur_min" disabled>
  </div>
  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="playCount()" [disabled]="isPlayDisabled">Iniciar/Continuar</button>
  <button mat-button color="primary" (click)="pauseCount()" [disabled]="isPauseDisabled">Pausar</button>
  <button mat-button color="primary" (click)="restartCountdown()">Reiniciar</button>
  <button mat-button color="primary" (click)="stopCount()">Detener</button>
  <!-- <button mat-button mat-dialog-close color="warn">Cerrar</button> -->
  <button mat-button color="primary" (click)="saveCompletedTask()" [disabled]="isCompleteDisabled">Completar Tarea</button>
</div>
