:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.containerDiv {
  margin: auto;
}

span.a {
  display: inline;
  white-space: nowrap;
  text-align: left;
  font-size: 25px;
  margin: auto;
}

.inputA {
  width: 3rem;
  text-align: right;
}

.inputB {
  width: 4rem;
  text-align: center;
}
